@theme inline {
  --shadow-border:
    0 0 0 1px oklch(0 0 0 / 6%), 0 2px 5px -1px oklch(0 0 0 / 12%),
    0 10px 24px -10px oklch(0 0 0 / 18%);
  --shadow-border-hover:
    0 0 0 1px oklch(0 0 0 / 8%), 0 4px 10px -2px oklch(0 0 0 / 15%),
    0 16px 32px -12px oklch(0 0 0 / 24%);
  --shadow-primary:
    inset 0 1px 0 rgb(255 255 255 / 30%),
    0 2px 5px -1px oklch(0 0 0 / 16%);
}

.dark {
  --shadow-border:
    0 0 0 1px oklch(1 0 0 / 10%), 0 4px 12px -2px oklch(0 0 0 / 40%),
    0 16px 32px -12px oklch(0 0 0 / 60%);
  --shadow-border-hover:
    0 0 0 1px oklch(1 0 0 / 14%), 0 6px 16px -2px oklch(0 0 0 / 48%),
    0 20px 40px -12px oklch(0 0 0 / 70%);
  --shadow-primary:
    inset 0 2px 0 rgb(255 255 255 / 20%),
    0 3px 8px -2px oklch(0 0 0 / 50%);
}
