{
  "openapi": "3.1.0",
  "info": {
    "title": "Watermelon UI Public API",
    "version": "1.0.0",
    "description": "Public machine-readable endpoints exposed by Watermelon UI for discovery, catalog lookup, and asset generation."
  },
  "servers": [
    {
      "url": "https://ui.watermelon.sh"
    }
  ],
  "paths": {
    "/api/catalog/summary": {
      "get": {
        "operationId": "getCatalogSummary",
        "summary": "Get Watermelon catalog summary",
        "description": "Returns top-level counts for animated components, blocks, dashboards, templates, and showcases.",
        "responses": {
          "200": {
            "description": "Catalog summary returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/catalog/entries": {
      "get": {
        "operationId": "listCatalogEntries",
        "summary": "List Watermelon catalog entries",
        "description": "Lists public Watermelon catalog entries for one content kind, with optional category and query filtering.",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": true,
            "description": "The catalog kind to query.",
            "schema": {
              "$ref": "#/components/schemas/CatalogKind"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Optional category filter for matching entries.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Optional free-text query matched against title, slug, description, and category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog entries returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/catalog/entries/{kind}/{slug}": {
      "get": {
        "operationId": "getCatalogEntry",
        "summary": "Get one Watermelon catalog entry",
        "description": "Returns one catalog entry by kind and slug.",
        "parameters": [
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "description": "The catalog kind.",
            "schema": {
              "$ref": "#/components/schemas/CatalogKind"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The entry slug.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog entry returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid kind or missing slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entry not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/docs": {
      "get": {
        "operationId": "getApiDocsIndex",
        "summary": "Get API docs index",
        "description": "Returns a small discovery document with the main Watermelon public API endpoints.",
        "responses": {
          "200": {
            "description": "API docs index returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDocsIndexResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/og": {
      "get": {
        "operationId": "generateOgImage",
        "summary": "Generate an Open Graph image",
        "description": "Returns a generated Open Graph image for a Watermelon page title, description, and optional category.",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "Primary heading rendered in the image.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Supporting copy rendered beneath the title.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Optional category label rendered above the title.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PNG or image response generated successfully.",
            "content": {
              "image/png": {}
            }
          },
          "500": {
            "description": "Image generation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CatalogKind": {
        "type": "string",
        "enum": [
          "animated-components",
          "blocks",
          "dashboards",
          "templates",
          "showcases"
        ]
      },
      "CatalogEntry": {
        "type": "object",
        "properties": {
          "kind": {
            "$ref": "#/components/schemas/CatalogKind"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "path": {
            "type": "string"
          }
        },
        "required": [
          "kind",
          "title",
          "slug",
          "description",
          "path"
        ]
      },
      "CatalogSummaryResponse": {
        "type": "object",
        "properties": {
          "product": {
            "type": "string"
          },
          "totalEntries": {
            "type": "integer"
          },
          "counts": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        },
        "required": [
          "product",
          "totalEntries",
          "counts"
        ]
      },
      "CatalogEntriesResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "$ref": "#/components/schemas/CatalogKind"
          },
          "category": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "limit": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogEntry"
            }
          }
        },
        "required": [
          "kind",
          "limit",
          "count",
          "entries"
        ]
      },
      "CatalogEntryResponse": {
        "type": "object",
        "properties": {
          "found": {
            "type": "boolean"
          },
          "entry": {
            "$ref": "#/components/schemas/CatalogEntry"
          }
        },
        "required": [
          "found",
          "entry"
        ]
      },
      "ApiDocsIndexResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "openapi": {
            "type": "string",
            "format": "uri"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "name",
          "openapi",
          "endpoints"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "hint": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        },
        "required": [
          "error",
          "message",
          "hint",
          "status"
        ]
      }
    }
  }
}
