.library-dashboard,
[data-mobile='true'][data-sidebar='sidebar'],
[data-slot='dropdown-menu-content'],
[data-slot='sheet-content'] {
  --background: #ffffff;
  --foreground: #0a1b39;
  --card: #ffffff;
  --card-foreground: #0a1b39;
  --popover: #ffffff;
  --popover-foreground: #0a1b39;
  --primary: #ff5150;
  --primary-foreground: #ffffff;
  --secondary: #f7f7f7;
  --secondary-foreground: #242424;
  --muted: #f8f8f8;
  --muted-foreground: #858585;
  --accent: #edf3fc;
  --accent-foreground: #485066;
  --destructive: #ff5150;
  --border: #ededed;
  --input: #f7f7f7;
  --ring: #ff5150;
  --chart-1: #ff5150;
  --chart-2: #0a1b39;
  --chart-3: #edf3fc;
  --chart-4: #858585;
  --chart-5: #242424;
  --radius: 0.5rem;
  --sidebar: #ffffff;
  --sidebar-foreground: #0a1b39;
  --sidebar-primary: #ff5150;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #fff2f2;
  --sidebar-accent-foreground: #ff5150;
  --sidebar-border: #e4e4e4;
  --sidebar-ring: #ff5150;
  --chart-print: #fb0100;
  --chart-digital: #ff5150;
  --chart-media: #ffacac;
  --chart-print-inner: #ff5150;
  --chart-print-outer: #fb0100;
  --chart-digital-inner: #fa6867;
  --chart-digital-outer: #c30908;
  --chart-media-inner: #ffacac;
  --chart-media-outer: #ff5150;

  background-color: var(--background);
  color: var(--foreground);
}

.library-dashboard.dark,
.dark .library-dashboard,
.dark [data-mobile='true'][data-sidebar='sidebar'],
.dark [data-slot='dropdown-menu-content'],
.dark [data-slot='sheet-content'] {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #ff5150;
  --primary-foreground: #ffffff;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: #ff5150;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.library-dashboard .bg-input {
  background-color: var(--input);
}

.library-dashboard * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.library-dashboard *::-webkit-scrollbar {
  display: none;
}
